{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MemoryTrunk</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

{# navbar start #}
    <nav class="navbar navbar-default">
        <div class="container-fluid bordered">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MemoryTrunk</a>
            </div>

            {# navbar for authenticated users #}
            {% if user.is_authenticated %}
            
                <!-- Menu Left Justified -->
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_memory_list' %}
                            ">Memories</a>
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_tip_list' %}
                            ">Tips</a>
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_perspective_list' %}
                            ">Perspectives</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Trunk <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/memory_list/{{request.user.id}}">Memories</a>
                            <a class="dropdown-item" href="/tip_list/{{request.user.id}}">Tips</a>
                            <a class="dropdown-item" href="/perspective_list/{{request.user.id}}">Perspectives</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Likes <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/liked_memories/{{request.user.id}}">Memories</a>
                            <a class="dropdown-item" href="/liked_tips/{{request.user.id}}">Tips</a>
                            <a class="dropdown-item" href="/liked_perspectives/{{request.user.id}}">Perspectives</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/hippocampus">New Memory</a>
                            <a class="dropdown-item" href="/tip_creation">New Tip</a>
                            <a class="dropdown-item" href="/perspective_creation">New Perspective</a>
                        </div>
                    </li>
                </ul>

                <!-- Menu Right Justified -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Welcome, {{ user.first_name }} {{ user.last_name }}</a></li>
                        <li><a href="{% url 'memory_trunk_app:logout_user' %}">Logout</a></li>
                    </ul>
                </div>

            {# navbar for unauthenticated users #}
            {% else %}
              <!-- Menu Left Justified -->
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community Trunk <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_memory_list' %}
                            ">Memories</a>
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_tip_list' %}
                            ">Tips</a>
                            <a class="dropdown-item" href="{% url 'memory_trunk_app:public_perspective_list' %}
                            ">Perspectives</a>
                        </div>
                    </li>
                </ul>

              <!-- Menu Right Justified -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'memory_trunk_app:login_user_view' %}">Login</a></li>
                        <li><a href="{% url 'memory_trunk_app:user_registration' %}">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            {% endif %}
        </div><!-- /.container-fluid -->
    </nav>
{# navbar end #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="positive-title">MemoryTrunk</h1>
                <p class="positive-title">  &nbsp;  &nbsp; Crowdsourcing Life Experiences</p>
            </div>
        </div>
    </div>
    <div id="index_content_holder" class="container-fluid">
        {% block content %}
            {# Header #}

            {# Body containing blocks for last ten Memory, Tip, and Perspective objects #}
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 container-fluid">
                    <div id="index_community_blocks" class="row">
                        <div class="content-block index-block col-sm-4">
                            
                                <h2 class="content-title"><a href="{% url 'memory_trunk_app:public_memory_list' %}">Memories</a></h2>
                            
                            {% for mem in memories %}
                                <div class="listed-object">
                                    <a href="{% url 'memory_trunk_app:memory_detail' id=mem.id %}">
                                        <h3 class="object-title">{{mem.title}}</h3>
                                    </a>
                                    <h5>by {{mem.user.username}}</h5>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="content-block index-block col-sm-4">
                            <h2 class="content-title"><a href="{% url 'memory_trunk_app:public_tip_list' %}">Tips</a></h2>
                            {% for tip in tips %}
                                <div class="listed-object">
                                    <a href="{% url 'memory_trunk_app:tip_detail' id=tip.id %}">
                                        <h3 class="object-title">{{tip.title}}</h3>
                                    </a>
                                    <h5>by {{tip.user.username}}</h5>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="content-block index-block col-sm-4 last_cb">
                            <h2 class="content-title"><a href="{% url 'memory_trunk_app:public_perspective_list' %}">Perspectives</a></h2>
                            {% for perspective in perspectives %}
                                <div class="listed-object">
                                    <a href="{% url 'memory_trunk_app:perspective_detail' id=perspective.id %}">
                                        <h3 class="object-title">{{perspective.title}}</h3>
                                    </a>
                                    <h5>by {{perspective.user.username}}</h5>
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="footer">
        <a href="https://samcphillips.com"><h6>&copy; Samuel Phillips 2017</h6></a>
    </div>

<script src="{% static 'lib/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap.min.js' %}"></script>
</body>
</html>