{% extends 'index.html' %}

{% block content %}
    {# Memory object display container #}
    <div class="container">
        <h2>{{memory.title}}</h2>
        <h4>by {{memory.user.username}}</h4>
        <h6>{{memory.date}} - {{memory.location}}</h6>
        <p>{{memory.content}}</p>

        {% if request.user.id == memory.user.id %}
            <a href="{% url 'memory_trunk_app:delete_memory' id=memory.id %}">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a href="{% url 'memory_trunk_app:update_memory' id=memory.id %}">
                <button class="btn btn-info">Edit</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
