{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1>{{page_title}}</h1>
        {% for memory in memories %}
            <a href="{% url 'memory_trunk_app:memory_detail' id=memory.id %}
            ">
                <h2>
                    {{memory.title}} 
                        {% if page_title == 'Community Memories' %}
                            - {{memory.user.username}}
                        {% endif %}
                </h2>
            </a>
        {% endfor %}
    </div>
    
{% endblock %}

