{% extends 'index.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class="row">
            <div class="content-block col-md-10 col-md-offset-1">
                <h2 class="content-title">{{page_title}}</h2>
                {% for mem in memories %}
                    <div class="listed-object">
                        <a href="{% url 'memory_trunk_app:memory_detail' id=mem.id %}">
                            <h3>{{mem.title}}</h3>
                        </a>
                        <h5>by {{mem.user.username}}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}