{% extends 'index.html' %}

{% block content %}
    {# Memory object display container #}
    <div class="row">
        <div class="container-fluid content-block col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="col-sm-12 container-fluid">
                    <div class="row shadowed">
                        <h2 class="col-sm-9 col-sm-offest-1">Memory: {{memory.title}}</h2>
                        <h5 class="col-sm-1">by {{memory.user.username}}</h5>
                    </div>

                    <div class="row">
                        <div class="detail-block col-sm-10 col-sm-offset-1">
                            <h6>{{memory.date}} - {{memory.location}}</h6>
                            <p>{{memory.content}}</p>
                        </div>
                    </div>

                    
                    <div class="row">
                        {# like-dependent buttons #}
                        {% if request.user in memory.likes.all %}
                            <a href="{% url 'memory_trunk_app:dislike_memory' id=memory.id %}">
                                <button class="btn btn-danger shadowed col-sm-2 col-sm-offset-1">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                    ({{memory.get_likes_count}})
                                </button>
                            </a>
                        {% else %}
                            <a href="{% url 'memory_trunk_app:like_memory' id=memory.id %}">
                                <button class="btn btn-success shadowed col-sm-2 col-sm-offset-1">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    ({{memory.get_likes_count}})
                                </button>
                            </a>
                        {% endif %}
                        
                        

                        {# author-dependent buttons #}
                        {% if request.user.id == memory.user.id %}
                            <a href="{% url 'memory_trunk_app:delete_memory' id=memory.id %}">
                                <button class="btn btn-danger col-sm-2 col-sm-offset-1">Delete</button>
                            </a>
                            <a href="{% url 'memory_trunk_app:update_memory' id=memory.id %}">
                                <button class="btn btn-info col-sm-2 col-sm-offset-1">Edit</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
