{% extends 'index.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class="row">
            <div class="content-block col-md-10 col-md-offset-1 container-fluid">
                <div class="row shadowed">
                    <h2 class="content-title">{{page_title}}</h2>
                </div>
                <div class="row list-container">
                    {% for perspective in perspectives %}
                        <div class="listed-object col-sm-3 listed-with-brethren">
                            <a href="{% url 'memory_trunk_app:perspective_detail' id=perspective.id %}">
                                <h3 class="object-title">{{perspective.title}}</h3>
                            </a>
                            <h5>by {{perspective.user.username}}</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

