{% extends 'index.html' %}

{% block content %}
    {# Perspective object display container #}
    <div class="container">
        <h2>{{perspective.title}}</h2>
        <h4>by {{perspective.user.username}}</h4>
        <p>{{perspective.content}}</p>

        {% if request.user in perspective.likes.all %}
            <a href="{% url 'memory_trunk_app:dislike_perspective' id=perspective.id %}">
                <button class="btn btn-danger">Dislike</button>
            </a>
        {% else %}
            <a href="{% url 'memory_trunk_app:like_perspective' id=perspective.id %}">
                <button class="btn btn-success">Like</button>
            </a>
        {% endif %}

        {% if request.user.id == perspective.user.id %}
            <a href="{% url 'memory_trunk_app:delete_perspective' id=perspective.id %}">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a href="{% url 'memory_trunk_app:update_perspective' id=perspective.id %}">
                <button class="btn btn-info">Edit</button>
            </a>
        {% endif %}

    </div>
{% endblock %}
