{% extends 'index.html' %}

{% block content %}
    {# Perspective object display container #}
    <div class="row">
        <div class="container-fluid content-block col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="col-sm-12 container-fluid">
                    <div class="row shadowed">
                        <h2 class="col-sm-9 col-sm-offest-1">Perspective: {{perspective.title}}</h2>
                        <h5 class="col-sm-1">by {{perspective.user.username}}</h5>
                    </div>

                    <div class="row">
                        <div class="detail-block col-sm-10 col-sm-offset-1">
                            <p>{{perspective.content}}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        {% if request.user in perspective.likes.all %}
                            <a href="{% url 'memory_trunk_app:dislike_perspective' id=perspective.id %}">
                                <button class="btn btn-danger shadowed col-sm-2 col-sm-offset-1">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                    ({{perspective.get_likes_count}})
                                </button>
                            </a>
                        {% else %}
                            <a href="{% url 'memory_trunk_app:like_perspective' id=perspective.id %}">
                                <button class="btn btn-success shadowed col-sm-2 col-sm-offset-1">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    ({{perspective.get_likes_count}})
                                </button>
                            </a>
                        {% endif %}

                        {% if request.user.id == perspective.user.id %}
                            <a href="{% url 'memory_trunk_app:delete_perspective' id=perspective.id %}">
                                <button class="btn btn-danger col-sm-2 col-sm-offset-1">Delete</button>
                            </a>
                            <a href="{% url 'memory_trunk_app:update_perspective' id=perspective.id %}">
                                <button class="btn btn-info col-sm-2 col-sm-offset-1">Edit</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
