{% extends 'index.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-4">
<h1>Register for MemoryTrunk</h1>
</div>
<div class="col-md-8 col-md-offset-4">
    <form class="form-horizontal" action="{% url 'memory_trunk_app:register_user' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-5">
                <label>First Name </label><br><input type="text" name="first_name" placeholder="Enter your first name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Last Name </label><br><input type="text" name="last_name" placeholder="Enter your last name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Username </label><br><input type="text" name="username" placeholder="Enter your username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Email Address </label><br><input type="email" name="email" placeholder="Enter your email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label>Password </label><br><input type="password" name="password" placeholder="Enter a password">
            </div>
        </div>  
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" name="button">Register</button>
            </div>
        </div>
    </form>
</div>

{% endblock%}