{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1>{{page_title}}</h1>
        {% for tip in tips %}
            <a href="{% url 'memory_trunk_app:tip_detail' id=tip.id %}
            ">
                <h2>
                    {{tip.title}} 
                    {% if page_title == 'Community Tips' %}
                        - {{tip.user.username}}
                    {% endif %}
                </h2>
            </a>
        {% endfor %}
    </div>
    
{% endblock %}

