{% extends 'index.html' %}

{% block content %}
    {# Tip object display container #}
    <div class="container">
        <h2>{{tip.title}}</h2>
        <h4>by {{tip.user.username}}</h4>
        {% if tip.do %}
            <h6>DO</h6>
        {% else %}
            <h6>DON'T</h6>
        {% endif %}
        
        <p>{{tip.content}}</p>

        {% if request.user in tip.likes.all %}
            <a href="{% url 'memory_trunk_app:dislike_tip' id=tip.id %}">
                <button class="btn btn-danger">Dislike</button>
            </a>
        {% else %}
            <a href="{% url 'memory_trunk_app:like_tip' id=tip.id %}">
                <button class="btn btn-success">Like</button>
            </a>
        {% endif %}

        {% if request.user.id == tip.user.id %}
            <a href="{% url 'memory_trunk_app:delete_tip' id=tip.id %}">
                <button class="btn btn-danger">Delete</button>
            </a>
            <a href="{% url 'memory_trunk_app:update_tip' id=tip.id %}">
                <button class="btn btn-info">Edit</button>
            </a>
        {% endif %}
        
        


    </div>
{% endblock %}
