{% extends 'index.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class="row">
            <div class="content-block col-md-10 col-md-offset-1 container-fluid">
                <div class="row shadowed">
                    <h2 class="content-title col-sm-6">{{page_title}}</h2>
                </div>
                <div class="row list-container">
                    {% for tip in tips %}
                        <div class="listed-object col-sm-3 listed-with-brethren">
                            <a href="{% url 'memory_trunk_app:tip_detail' id=tip.id %}">
                                <h3 class="object-title">{{tip.title}}</h3>
                            </a>
                            <h5>by {{tip.user.username}}</h5>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            ({{tip.get_likes_count}})
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}